@model FEBiblioteca.Models.ReservaModel

@{
    ViewData["Title"] = "EliminarReserva";
}

<h1>Eliminar Reserva</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_reserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_reserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_habitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_habitacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_fin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_fin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="EliminarReserva">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-warning" asp-action="Index" asp-controller="Reserva">Volver a reservas</a>
    </form>
</div>
