@model IEnumerable<FEBiblioteca.Models.HabitacionesModel>
@section noheader
{
    <h1></h1>
}


@{
    ViewData["Title"] = "Index";
}



    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Habitaciones Registradas - Hotel</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #203869;
            padding: 10px;
            text-align: center;
            color: #fff;
            margin-bottom: 20px;
        }

            header img {
                vertical-align: middle;
                margin-right: 10px;
            }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            background-color: #2c3e50; /* Fondo blanco para el contenido */
            border-radius: 5px; /* Añado bordes redondeados */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrego sombra al contenedor */
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            margin-right: 10px;
            transition: background-color 0.3s ease;
            cursor: pointer;
        }

        /* Estilo para el botón de Crear */
        .btn-crear {
            background-color: #28a745;
        }

        .btn-volver {
            background: lightslategrey;
        }
        /* Estilo para el botón de Editar */
        .btn-editar {
            background-color: skyblue;
        }

        /* Estilo para el botón de Eliminar */
        .btn-eliminar {
            background-color: #9b0b0b;
        }

        /* Estilo al pasar el cursor sobre los botones */
        .btn:hover {
            opacity: 0.8;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            font-family: 'Times New Roman', Times, serif; /* Tipo de letra Times New Roman */
            background-color: whitesmoke; /* Fondo gris más claro */
            color: #333333; /* Color de texto gris oscuro */
            padding: 10px; /* Añade espacio interno */
            text-align: center; /* Centra el texto */
            border-bottom: 2px solid #aaaaaa; /* Añade una línea inferior */
        }

            .table th, .table td {
                padding: 10px;
                border-bottom: 1px solid #ddd;
            }

            .table th {
                background-color: #f2f2f2;
                text-align: left;
            }

            .table td {
                text-align: center;
            }


        body {
            font-family: 'Times New Roman', Times, serif;
        }

        .container2 {
            width: 50%; /* Ancho del contenedor */
            margin: 0 auto; /* Centrar horizontalmente */
            padding: 20px;
            border: solid;
            border-color: black;
            border-radius: 15px;
        }

        .container label {
            display: block; /* Mostrar cada etiqueta en una línea nueva */
            text-align: center; /* Centrar etiquetas */
            color: #fff;
            margin-bottom: 10px; /* Espacio entre etiquetas */
            font-size: 18px; /* Espacio entre etiquetas */
        }

        .container input[type="search"],
        .container input[type="text"] {
            width: calc(100% - 12px); /* Ancho del input menos el ancho del borde */
            padding: 6px; /* Espaciado interno */
            color: rgba(0, 0, 0, 0.1); /* color de letra del texto */
            margin-top: 5px; /* Espacio entre inputs */
            box-sizing: border-box; /* Incluir padding en el ancho total */
            font-size: 16px
        }

        .container button {
            width: 100%; /* Ancho completo del botón */
            padding: 8px;
            margin-top: 10px; /* Espacio entre botón y inputs */
            border-radius: 15px;
            box-sizing: border-box; /* Incluir padding en el ancho total */
        }

            /* Estilos adicionales para el botón de tipo 'submit' */
            .container button[type="submit"] {
                background-color: #007bff; /* Color de fondo */
                color: white; /* Color del texto */
                border: none; /* Quitar borde */
                cursor: pointer; /* Cambiar cursor al pasar por encima */
            }
    </style>
</head>
<body>
    <header>
        <h1>
            <img src="https://cdn-icons-png.flaticon.com/128/1069/1069454.png" alt="Logo" width="50" />
            Lista de Habitaciones Registrados
        </h1>
    </header>

    

    <div class="container">


        <table class="table">
            <thead>
                <tr>
                    <th>ID Habitación</th>
                    <th>Tipo de Habitación</th>
                    <th>Número de Habitación</th>
                    <th>Precio</th>
                    <th>Ocupado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id_habitacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo_habitacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Numero_habitacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ocupado)
                        </td>
                        <td>
                            @Html.ActionLink("Crear", "AperturaCrearUsuario", new { pHabitacion = item.Id_habitacion }, new { @class = "btn btn-crear" })|
                            @Html.ActionLink("Editar", "VerInfoModificar", new { pHabitacion = item.Id_habitacion }, new { @class = "btn btn-editar" }) |
                            @Html.ActionLink("Eliminar", "EliminarHabitacion", new { pHabitacion = item.Id_habitacion }, new { @class = "btn btn-eliminar" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>
            <a class="btn btn-crear" asp-action="MenuAdministrador" asp-controller="Usuarios">Regresar a Inicio</a>\
            <a class="btn btn-crear" asp-action="ConsultarHabitacionOcupada" asp-controller="Habitaciones">Habitaciones disponibles</a>
        </p>
    </div>
</body>
</html>



